#banner {
    min-width: 100vw;
    min-height: 100vh;
    background: no-repeat center right url('../../assets/FondoHome.svg');
}
.banner-container {
    margin: 0 5%;
    margin-top: 13rem;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    text-align: left;
}
@media (min-width: 600px) {
    .banner-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}
.container-logos {
    display: flex;
    align-items: center;
}
.network-logos {
    margin-right: 2rem;
}